output
temp/

###Node###

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules


###Yeoman###

node_modules/
bower_components/
*.log

build/
dist/


###OSX###

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
